/* UNIVERSAL CODE */

body{
  background-color: rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}

h1 {
color: rgba(0, 0, 0, 50%);
text-align: left;
padding: 0%;
font-size: 45px;
font-family: "Sofia Sans Extra Condensed", Georgia;
text-transform: uppercase;
letter-spacing: 0.2em;
margin: 0;
/*  font-weight: lighter; */

}

h2 {
color: rgba(0, 0, 0, 50%);
text-align: left;
padding: 0%;
font-size: 40px;
font-family: "Sofia Sans Extra Condensed", Georgia;
text-transform: lowercase;
letter-spacing: 0em;
line-height: 0;
font-weight: lighter;
margin: 0;

}

h3 {
color: rgba(0, 0, 0, 50%);
text-align: left;
padding: 0%;
font-size: 28px;
font-family: "Sofia Sans Extra Condensed", Georgia;
text-transform: lowercase;
letter-spacing: 0em;
line-height: 20px;
font-weight: 350;
margin: 0;

}

a {
cursor: pointer;
text-decoration: bold;
}

main {
text-align: center;


}

img 
{
  min-width: 250px;
  max-width: 500px;
  border-radius: 8px;
  margin: auto;
  display:block;
}

iframe {
  border: 1px solid rgba(0, 0, 0, 0.266);
  width: 100%; 
  
}


/* NAVIGATION BAR */


.nav-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #454545;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-box {
height: 20px;
width: auto;
color: #454545;
padding: 40px;
text-transform: uppercase;


}


.nav-box a {
color: #454545;
text-decoration: none;

}

.nav-box a:hover {
letter-spacing: 2px;
color: #454545;
text-transform: uppercase;
font-size: 20px;

}

.nav-box a:hover::before {
content: "";
}
.nav-box a:hover::after {
content: "";
}




/* MAIN PAGE DIV CODE */
.parent {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: white;
}

    

    .div2 {
      grid-area: 1 / 2 / 7 / 4; 
      text-align: right;
      background-color: white;
          }
    
    .div3 { 
      grid-area: 1 / 4 / 7 / 6; 
      background-color: white;
      text-align: left;
      padding: 20px;
          }

    .div3 p 
    {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #454545;
      text-align: justify;
      
    }

    







/* FOOTER CODE */
.footer {
  display: flex;
  justify-content: center;
  list-style: none;
  color: #454545;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 40px;

} 

.footer a {
  color: #454545;
  text-decoration: none; 
}

.footer a:hover {
  letter-spacing: 3px;
  color: #454545;
  content: "";
}

.footer a:hover::after {
content: "<";
}

.footer a:hover::before {
  content: ">";
}


footer ul li {
  padding: 0px 20px;

}









/* CUSTOMIZE RESUME PAGE CSS */
.parentResume {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: rgb(255, 255, 255);
}

    

    .div1Resume {
      /* TITLE AREA */

      grid-area: 1 / 2 / 2 / 5;
      text-align: center;
      background-color: rgb(245, 245, 245);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      
      
    }
    .div2Resume {
      /* SKILLS AREA */

      grid-area: 2 / 2 / 7 / 3; 
      text-align: left;
      background-color: rgb(245, 245, 245);
      border-bottom-left-radius: 25px;
          }
    
    .div3Resume { 
      /* EMPLOYMENT AREA */

      grid-area: 2 / 3 / 7 / 5; 
      background-color: rgb(245, 245, 245);
      text-align: left;
      padding-left: 20px;
      border-bottom-right-radius: 25px;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #656565;
          }


    .parentResume p {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #656565;
      text-align: left;
    }

    .div1Resume p {
      text-align: center;
    }

    .div2Resume p {
      margin-left: 15px;
    }

    .div3Resume p 
    {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #656565;
      text-align: justify;
      
    }
    
    
    .parentResume h1 {
      color: rgba(0, 0, 0, 50%);
      text-align: center;
      padding: 0%;
      font-size: 50px;
      font-family: "Sofia Sans Extra Condensed", Georgia;
      text-transform: uppercase;
      letter-spacing: 0.22em;
      margin: 0;
      
    }

    .parentResume h2 {
      color: rgba(0, 0, 0, 50%);
      text-align: center;
      padding: 0%;
      font-size: 40px;
      font-family: "Sofia Sans Extra Condensed", Georgia;
      text-transform: lowercase;
      letter-spacing: 0em;
      line-height: 0;
      font-weight: lighter;
      margin: 0;
      
    }
    
    .parentResume h3 {
      color: rgba(0, 0, 0, 50%);
      text-align: center;
      padding: 0%;
      font-size: 30px;
      font-family: "Sofia Sans Extra Condensed", Georgia;
      text-transform: lowercase;
      letter-spacing: 0em;
      line-height: 0;
      font-weight: 350;
      margin: 0;
      
    }

    .parentResume h4 {
      color: rgba(0, 0, 0, 50%);
      text-align: left;
      padding: 0%;
      font-size: 30px;
      font-family: "Sofia Sans Extra Condensed", Georgia;
      text-transform: capitalize;
      letter-spacing: 0em;
      line-height: 0;
      font-weight: 500;
      margin-bottom: 16px;
      margin-top: 12px;

      
    }

    .parentResume ul
    {
      margin: 0px;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #656565;
    }

    a
    {
      color: black;
    }



    /* PORTFOLIO CODE */

    .div2Portfolio {
      grid-area: 1 / 2 / 7 / 5; 
      text-align: right;
      background-color: white;
          }
    
    .div3Portfolio { 
      grid-area: 1 / 5 / 7 / 6; 
      background-color: white;
      text-align: left;
      padding: 20px;
          }

    .div3Portfolio p 
    {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #454545;
      text-align: justify;
      
    }