/* UNIVERSAL CODE */

body{
  background-color: rgb(255, 255, 255);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h1 {
color: rgba(0, 0, 0, 50%);
text-align: left;
padding: 0%;
font-size: 45px;
font-family: "Sofia Sans Extra Condensed", Georgia;
text-transform: uppercase;
letter-spacing: 0.2em;
margin: 0;
/*  font-weight: lighter; */

}

h2 {
color: rgba(0, 0, 0, 50%);
text-align: left;
padding: 0%;
font-size: 40px;
font-family: "Sofia Sans Extra Condensed", Georgia;
text-transform: lowercase;
letter-spacing: 0em;
line-height: 0;
font-weight: lighter;
margin: 0;

}

h3 {
color: rgba(0, 0, 0, 50%);
text-align: left;
padding: 0%;
font-size: 28px;
font-family: "Sofia Sans Extra Condensed", Georgia;
text-transform: lowercase;
letter-spacing: 0em;
line-height: 0;
font-weight: 350;
margin: 0;

}

a {
cursor: pointer;
text-decoration: bold;
}

main {
text-align: center;

}



/* NAVIGATION BAR */


.nav-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #454545;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-box {
height: 20px;
width: auto;
color: #454545;
padding: 40px;
text-transform: uppercase;


}


.nav-box a {
color: #454545;
text-decoration: none;

}

.nav-box a:hover {
letter-spacing: 2px;
color: #454545;
text-transform: uppercase;
font-size: 20px;

}

.nav-box a:hover::before {
content: "";
}
.nav-box a:hover::after {
content: "";
}




/* MAIN PAGE DIV CODE */
.parent {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: white;
}

    

    .div2 {
      grid-area: 1 / 2 / 7 / 4; 
      text-align: right;
          }
    
    .div3 { 
      grid-area: 1 / 4 / 7 / 6; 
      background-color: white;
      text-align: left;
      padding: 20px;
          }

    .div3 p 
    {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #454545;
      text-align: justify;
    }

    







/* FOOTER CODE */
.footer {
  display: flex;
  justify-content: center;
  list-style: none;
  color: #454545;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 40px;

} 

.footer a {
  color: #454545;
  text-decoration: none; 
}

.footer a:hover {
  letter-spacing: 3px;
  color: #454545;
  content: "";
}

.footer a:hover::after {
content: "<";
}

.footer a:hover::before {
  content: ">";
}


footer ul li {
  padding: 0px 20px;

}
