@media (max-width: 480px) {
  img 
  {
    width: 150;
    border-radius: 8px;
  }

  .div2 {
    grid-area: 1 / 2 / 3 / 6; 

        }

  .div3 { 
    grid-area: 3 / 2 / 7 / 6; 
        }      

  }
  @media (max-width: 768px) {


  }
  @media (min-width: 768px) and (max-width: 980px) {

    
  }
  @media (min-width: 1200px) {
    
  }
  