body {
    border: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    text-align: center;
    display: block;
    font-size: 18px;
  }
  
  .container {
    height: 150px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
  }
  
  .box {
    height: 75px;
    width: 100px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    display: inline-block;
  }
  
  #flexstart {
  justify-content: flex-start;
  }
  
  #flexend {
  justify-content: flex-end;
  }
  
  #center {
  justify-content: center;
  }
  
  #spacearound {
  justify-content: space-around;
  }
  
  #spacebetween {
  justify-content: space-between;
  }
  


  /* CENTERING FLEXBOX IN THE MIDDLE 

align-items property is used to align items on the cross axis within a single row.
align-content property is used to align items within multiple rows

  
justify-content: to position on the main axis


flex: GROW# SHRINK# FLEXBASIS;
  example: flex: 1 2 120px;

flex-flow: ROW/COLUMN WRAP/NOWRAP
  example: flex-flow: column wrap; 
  



  .child {
  height: 75px;
  width: 75px;
  background-color: whitesmoke;
  border: 1px solid snow;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/


  /*   BASIC HTML LAYOUT FOR FLEXBOX CSS ABOV
  
  <h1>Flex Start</h1>
  <div class='container' id='flexstart'>
    <div class='box'></div>
    <div class='box'></div>
    <div class='box'></div>
  </div>



  THIS IS THE HORIZONTAL CODE 
  body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  margin: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.left,
.center,
.right {
  min-height: 75px;
  width: 125px;
  background-color: dodgerblue;
  border: 2px solid lightgrey;
  
}

#baseline .center {
  height: 100px;
  width: 100px;
  border: 5px solid turquoise;
}

#flexstart {
align-items: flex-start;
}

#flexend {
align-items: flex-end;
}

#center {
align-items: center;
}

#baseline {
align-items: baseline;
}




  */